@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    text-align: center;
    color: #333333;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.header {
    background-color: lightblue;
    max-width: 100%;
}

.header h1 {
    color: snow;
    font-size: 48px;
    text-shadow: 1px 2px 3px #808080;
}

.select_city {
    padding: 0.5rem;
    font-size: 16px;
    width: 20rem;
    display: flex;
    text-align: center;
    margin: 0 auto;
}

.select_city select {
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.select_city button {
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    background-color: #808080;
    color: snow;
    transition: all 300ms linear;
}

.select_city button:hover {
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    background-color: snow;
    color: #808080;
}

.select_city img {
    width: 0.5rem;
}

.weather_result {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.weather_info {
    text-align: center;
    color: white;
}

.weather_city {
    font-size: 24px;
    color: white;
}

.weather_temp {
    font-size: 64px;
    color: white;
}

.weather_result {
    width: 100%;
}

.Rain {
    background-image: url("https://patch.com/img/cdn20/users/22992871/20190313/094116/styles/raw/public/processed_images/donatphotography_rain_umbrella_shutterstock_728383990_copy-1552484394-5009.jpg");
}

.Clouds {
    background-image: url("http://dai-iad.net/wp-content/uploads/2016/04/14422522073z3u1.jpg");
}

.Clear {
    background-image: url("https://www.zastavki.com/pictures/originals/2015/Nature___Rivers_and_lakes_Clear_water_lake_in_California_106287_.jpg");
}

.Sunset {
    background-image: url("https://d2studios.net/wp-content/uploads/blog/2016/03/sunset.jpg");
}

@media screen and (max-width: 959px) {

    #app {
        width: 100%;
        position: relative;
    }

    .header h1 {
        font-size: 42px;
    }

    .select_city {
        font-size: 16px;
    }

    .select_city select {
        font-size: 16px;
    }

}

@media screen and (max-width: 480px) {

    #app {
        width: 100%;
        position: relative;
    }

    #app {
        width: 100%;
        position: relative;
    }

    .header h1 {
        font-size: 36px;
    }

    .select_city {
        font-size: 12px;
    }

    .select_city select {
        font-size: 12px;
    }
}